html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
.color-murky-pond {
	color: #91947f;
}
body {
	background-color: #e3ce88;
	color: #222;
	font: 19px "Georgia", serif;
}
header { margin-left: -90px; }
header h1 { display: none; }
h2 {
    margin-top: 1.2em;
    margin-bottom: 0.4em;
}
p {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
.content {
	width: 640px;
	margin-top: 1.8em;
	margin-bottom: 2em;
	margin-left: 11%;
}
.code-block {
	padding: 12px 16px;
	overflow: auto;
    border: solid 2px #8c6e6e;
	border-radius: 6px;
	box-shadow: inset 1px 1px 10px #402929;
	background-color: #483f3d;
	color: #c9ccb4;
	text-shadow: 1px 3px 5px #230f0f;
}
.margin-bottom-1\.8 {
	margin-bottom: 1.8em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
}
h2 {
	font-weight: bold;
	font-size: 1.5em;
}
.code {
	font-family: "Monaco", monospace;
}
.font-size-0\.8 {
	font-size: 0.8em;
}
