h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
}

.code {
	font-family: "Monaco", monospace;
    line-height: 1.6em;
}

.font-size-0\.8 {
	font-size: 0.8em;
}

.font-size-1\.52 {
	font-size: 1.52em;
}

.font-size-15 {
	font-size: 15em;
}

.text-center {
	text-align: center;
}
